{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-around">
    <div class="col-6">
        <div class="main-content">

            <div>
                {% if user.avatar.url == 'https://res.cloudinary.com/ddigiimwd/image/upload/v1/images/avatar.svg' %}
                        <img class="user-image" src="/static/images/avatar.png" alt="logo">
                    {% else %}
                        <img class="user-image" src="{{ user.avatar.url }}" alt="user-image">
                    {% endif %}
                    <br>
                <span>{{ user.username }}</span>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <h3>{{channel_count}} hosted Channels</h3>      
                    {% for topic in channels %}
                    <div class="channel-content">
                        <h5><a href="{% url 'channel' topic.id %} ">{{topic.title}}</a></h5>
                        {% if request.user == topic.host %}
                            <a href="{% url 'create-channel' %}">Create Channel</a>
                            <a href="{% url 'update-channel' topic.id %}">Edit</a>
                            <a href="{% url 'delete-channel' topic.id %}">Delete</a>
                        {% endif %}
                        <br>
                        <div class="channel-content">{{topic.content}}</div>
                        <br>
                        <a href="#"><i class="fas fa-user-friends"></i></a> {{ topic.guests.count }} Members
                        <span class="category-open"><small>{{ topic.topic.title }}</small></span>
                    </div>
                    <hr>
                    {% endfor %}
                </div>

                <div class="col-6" style="margin-left: -10px;">

                    

                    <div>
                        {% for converstation in chat|slice:"1" %}
                        <!-- -{{converstation.title}}-
                        <br>
                        -{{user}}-
                        <br> -->
                        {% if converstation.title == request.user.username and user == converstation.host %}
                            <!-- yes -->
                            <!-- {{converstation.id}} -->
                            <a href="{% url 'chat' converstation.id %}">Y</a>
                            {{ break }}
                        {% else %}
                            {% include 'base/chat.html' %}
                        {% endif %}
                        {% endfor %}
                    </div>

                    

                    <!-- <div>
                        {% include 'base/chat.html' %}
                    </div> -->
                  
                    <div>
                    <h3>Joined Channels</h3>     
                        
                    

                    {% for comment in comments %}
                    {% if comment.channel.host.username != user.username %}

                        <h5><a href="#">@{{comment.channel.host.username}}</a></h5>
                        <h5><a href="#">{{comment.channel.title}}</a></h5>
                        
                        <div>
                            <small><a href="#">@{{ comment.user.username }}</a> - {{ comment.created_on|timesince }} ago</small>
                        </div>               
                        <div>
                            <div class="channel-content">
                                <h5>{{ comment.body }}</h5>
                                {% if comment.image %}
                                    <img class="post-image" src="{{ comment.image.url }}" alt="post-image">
                                {% endif %}
                            </div>  
                        </div>
                        <a href="#"><i class="fas fa-user-friends"></i></a> {{ comment.channel.guests.count }} Members
                        <span class="category-open"><small>{{ comment.channel.topic.title }}</small></span>
                        <hr> 
                    {% endif %}    
                    {% endfor %}        
                    </div>
                </div>  
            </div>  
        </div>
    </div>
</div>

{% endblock %}