<div class="row justify-content-around">
    <div class="col-4 main-content">

        <div class= "channel-content"><a class="col-md-8" href="{% url 'home' %}">Available Channels: </a><span class="col-md-4">{{ queryset.count }}</span></div>
        {% for channel in queryset %}
        <div class="channel-content channel-scroll">
            <div><h5><a href="{% url 'channel' channel.id %} ">{{channel.title}}</a></h5></div>
            <a href="#"><span>@ <i class="fas fa-user"></i> {{ channel.host.username }}</span></a>
            <!-- host.user is a django function -->
            {{ channel.created_on|timesince }}
            <br>
            <!-- this leads to channel(name!) with the right id -->
            {% if channel.post_set.all %}
            <div class="channel-content">{{ channel.post_set.all|first }}</div>
            {% endif %}
            <a href="{% url 'member' channel.id %}"><i class="fas fa-user-friends"></i></a> {{ channel.guests.count }} Members
            <span class="category-open"><small> - Category: <a href="#">{{ channel.topic.title }}</a></small></span>
        </div>
        <hr>
        {% endfor %}
        <button class="btn btn-primary dropdown-toggle btn-outline-success button channel-content">more</button>
    </div>
</div>