<div class="row justify-content-around">
    <div class="col-4 main-content">

        {% for channel in queryset %}

        <div class="channel-content">
            <div><h5><a href="{% url 'channel' channel.id %} ">{{channel.title}}</a></h5></div>
            <a href="#"><span>@ <i class="fas fa-user"></i> {{ channel.host.username }}</span></a>
            <!-- host.user is a django function -->
            {{ channel.created_on|timesince }}
            <br>
            <!-- this leads to channel(name!) with the right id -->
            <div class="channel-content">{{channel.post_set.all|first }}</div>
            <a href="{% url 'member' channel.id %}"><i class="fas fa-user-friends"></i></a> {{ channel.guests.count }} Members
            <span class="category-open"><small> - Category: <a href="#">{{ channel.topic.title }}</a></small></span>
            <hr>
        </div>
        
    
        {% endfor %}

    </div>
</div>