{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 main-channel-content">

            {% if channel.private == False %}
            <div>
                <h2 class="channel-headline">{{ channel.title }}</h2>
                {% if request.user == channel.host %}
                <small class="main-content">
                    <a href="{% url 'update-channel' channel.id %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'delete-channel' channel.id %}"><i class="fas fa-trash-alt"></i></a>
                </small>
                {% endif %}
                <div class="channel-content">
                    Hosted by:
                    {% if channel.host.avatar.url == 'https://res.cloudinary.com/ddigiimwd/image/upload/v1/images/avatar.svg' %}
                    <img class="user-image" src="/static/images/avatar.png" alt="logo">
                    {% else %}
                    <img class="user-image" src="{{ channel.host.avatar.url }}" alt="user-image">
                    {% endif %}
                    <a href="{% url 'account' channel.host.id %}">{{channel.host.username}}</a>
                    <br>
                    Created: {{channel.created_on|timesince}}
                    <br>
                    <span>Category: {{ channel.topic }}</span>
                </div>
            </div>
            <hr>
            <div class="channel-content">
                <!-- <h3><a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-arrow-alt-circle-left"></i></a> Disscussion</h3> -->
                <h3><a href="{% url 'channel' channel.id %}"><i class="fas fa-arrow-alt-circle-left"></i></a> Disscussion</h3>
                {{ channel.content }}
                <hr>
                {% for post in objects %}
                {% if post.channel.title == channel.title  %}
                    <div>
                        
                        <small><a href="{% url 'account' post.user.id %}">@{{ post.user.username }}</a> -
                            {{ post.created_on|timesince }} ago</small>
                        <h5>{{ post.title }}</h5>
                        <p>Comment: {{ post.body }}</p>
                        {% if post.image %}
                        <img class="post-image" src="{{ post.image.url }}" alt="post-image">
                        {% endif %}
                        {% if request.user == post.user%}
                        <a href="{% url 'delete-comment' post.id %}"><button
                                class="btn btn-outline-success button">X</button></a>
                        {% endif %}
                        <hr>
                    </div>
                {% elif forloop.counter0 == 0 %}
                    <h4 class="bad-news">Sorry! Your query returned 0 results.</h4>
                {% endif %}
                {% endfor%}


                {% if request.user.is_authenticated %}

                <form action="" method="POST" enctype="multipart/form-data">
                    <!-- with enctype="multipart/form-data" we can submit files not just content/text -->
                    {% csrf_token %}
                    <h6><small>Your contribution:</small></h6>
                    {% for field in post_form %}
                    <div>
                        <div>{{ field }}</div>
                    </div>
                    {% endfor %}
                    <br>
                    <input class="btn btn-outline-success button" type="submit" value="Submit">
                </form>
                <hr>

                {% endif %}
            </div>
        </div>

        <div class="col-4 main-channel-content">
            <div>
                <h2 class="channel-headline">Who is there? ({{guests.count}} joined)</h2>
                <div class="channel-content">
                    {% for guest in guests %}
                    <div>
                        {% if guest.avatar.url == 'https://res.cloudinary.com/ddigiimwd/image/upload/v1/images/avatar.svg' %}
                        <img class="user-image" src="/static/images/avatar.png" alt="logo"><a
                            href="{% url 'account' guest.id %}"> @{{ guest.username }}</a>
                        {% else %}
                        <img class="user-image" src="{{ guest.avatar.url }}" alt="user-image"><a
                            href="{% url 'account' guest.id %}"> @{{ guest.username }}</a>
                        {% endif %}
                    </div>
                    <br>
                    {% endfor %}
                </div>

                {% else %}
                <div>
                    <h2> This is a private Channel. You need to ask the host for access.</h2>
                    <div class="channel-content">
                        Hosted by: 
                        {% if channel.host.avatar.url == 'https://res.cloudinary.com/ddigiimwd/image/upload/v1/images/avatar.svg' %}
                        <img class="user-image" src="/static/images/avatar.png" alt="logo">
                        {% else %}
                        <img class="user-image" src="{{ channel.host.avatar.url }}" alt="user-image">
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'account' channel.host.id %}">{{channel.host.username}}</a>
                        {% else %}
                        {{channel.host.username}}
                        <br>
                        Please <a href="{% url 'account_signup' %}">Sign Up!</a>
                        {% endif%}   
                        <br>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}