{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 main-channel-content">

      <div>  
        <h2 class="main-content-headline">{{ channel.title }}</h2>
        {% if request.user == channel.host %}
        <small>
          <a href="{% url 'update-channel' channel.id %}"><i class="fas fa-edit"></i></a>
          <a href="{% url 'delete-channel' channel.id %}"><i class="fas fa-trash-alt"></i></a>
        </small>
        {% endif %}
        hosted by: <i class="fas fa-user"></i>{{channel.host.username}} - Created: {{channel.created_on|timesince}}
      </div>

      <span>{{ channel.topic }}</span>
        <hr>
        <div class="channel-content">
            <h3>Disscussion</h3>
            {{ channel.content }}
            <hr>
            {% for post in posts %}
                <div>
                    <small><a href="#">@{{ post.user.username }}</a> - {{ post.created_on|timesince }} ago</small>
                    <!-- timesince replace the date and the time -->
                    <p>Comment: {{ post.body }}</p>
                    <br>
                    {% if post.image %}
                        <img class="post-image" src="{{ post.image.url }}" alt="post-image">
                    {% else %}
                        <p>Comment: {{ post.body }}</p>
                    {% endif %}
                    <br>
                    {% if request.user == post.user%}
                        <a href="{% url 'delete-comment' post.id %}"><button>Delete Comment</button></a>
                    {% endif %}
                    <hr>  
                </div>
            {% endfor%}
        

          {% if request.user.is_authenticated %}
          <div class="post-form">
              <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="text" placeholder="Place your Comment..." name="body">   
                  <!-- <input type="image" placeholder="Image..." name="image">   
                  <input type="file" placeholder="Image..." name="image">   
                  <input type="submit" value="Submit"> -->
              </form>
          </div>
          <hr>

          <form action="" method="POST" enctype="multipart/form-data">
            <!-- with enctype="multipart/form-data" we can submit files not just content/text -->
            {% csrf_token %}
            {% for field in post_form %}
                <div>
                    <label for="post-field" name="">{{ field.label }}</label>
                    {{ field }}
                </div>
                <br>           
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
          <hr>

          {% endif %}
      </div>
    </div>
    
    <div class="col-4 main-channel-content">
      <h2 class="main-content-headline">Who is there? ({{guests.count}} joined)</h2>
          {% for guest in guests %}
              <div>
                  <a href="#"><p><i class="fas fa-user"></i> @{{ guest.username }}</p></a>
              </div>
          {% endfor %}
    </div>
  </div>
</div>
      
{% endblock %}