{% load static %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 main-content">

        <div class="channel-content">
            <a class="navbar-brand" href="/"><img class="brand" src="/static/images/SlackBook-Logo.png" alt="logo"></a>
            {% if 'chat' in request.path %}
            <label for="channel-description">Conversation with
                {% if request.user == chat.host %}
                    {{ chat.title }}
                {% else %}
                    {{ chat.host }}
                {% endif %}:
            </label>
            <br>
            {{ chat.body }} {{ chat.created_on|timesince }}
            <hr>
            {% endif %}
            {% for post in posts %}
            {% if post.chat %}
                <div>
                    <small><a href="#">@{{ post.user.username }}</a> - {{ post.created_on|timesince }} ago</small>
                    <!-- <p>Comment: {{ post.body }}</p>
                    <br> -->
                    {% if post.image %}
                        <img class="post-image" src="{{ post.image.url }}" alt="post-image">
                    {% else %}
                        <p class="question">{{ post.body }}</p>
                        <!-- <p class="answer">{{ post.body }}</p> -->
                    {% endif %}
                    {% if request.user == post.user%}
                        <a  href="{% url 'delete-comment' post.id %}"><button class="btn btn-outline-success button">x</button></a>
                    {% endif %}
                    <hr>  
                </div>
                {% endif %}
            {% endfor%}
        

          {% if request.user.is_authenticated %}
          <div class="post-form">
              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if 'chat' in request.path %}
                <input class="comment-field" type="text" placeholder="Place your meassage..." name="body">
                {% endif %}   
                <button type="submit">send</button>
                <!-- <input type="submit" value="Submit">  -->
              </form>
          </div>
          {% if 'chat' in request.path %}
            <hr>
          {% endif %} 

          <!-- <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in post_form %}
                <div>
                    <label for="post-field" name="">{{ field.label }}</label>
                    {{ field }}
                </div>
                <br>           
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
          <hr> -->

          {% endif %}
      </div>
    </div>
    
    
  </div>
</div>

