<div class="row justify-content-around">
    <div class="col-4 main-content">
        <div>
            <form class="col-md-4 form channel-content" action="{% url 'personal-channel' %}" method="POST">
                {% csrf_token %}
                    <div>
                        <label for="channel-description">Your Message:</label>
                        <br>
                        <p>{{ form.body }}</p>
                        <p>{{ form.image }}</p>
                    </div>
                    <br>
                <button class="btn btn-primary dropdown-toggle btn-outline-success button"><a href="{{request.META.HTTP_REFERER}}">Send</a></button>         
                <input class="btn btn-primary dropdown-toggle btn-outline-success button" type="submit" value="Send">
            </form>    
        </div>
    </div>
</div>


