{% extends 'base-nav.html' %}

{% block content %}

<div class="row justify-content-around">
    <div class="col-4 main-content">
        <div class="main-content">

            <form class="col-md-4 form channel-content" action="" method="POST">
                <!-- if method is not specified, it will send to the current url -->
                {% csrf_token %}

                {% if not 'add-members' in request.path %}
                <h2>Create your Channel</h2>
                <!-- Enter Category and Title -->
                <div>
                    <label>Enter a Channel topic:</label>
                    <br>
                    <input style="width: 165px;" type="text" list="topic-list" value="{{queryset.topic}}" name="topic" required>
                    <datalist id="topic-list">
                        <select name="categories" id="form-category">
                            {% for category in categories %}
                            <option value="{{ category.title }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </datalist>
                </div>
                <br>
                <div>
                    <label for="form-category">Coose a title:</label>
                    <br>
                    <input style="width: 165px;" type="text" value="{{ queryset.title }}" name="topic-name">
                </div>
                <br>

                {% else %}
                <h2>{{ queryset.title }}</h2>
                {% endif %}

                <!-- Privacy -->
                <div>
                    {% if 'create-channel' in request.path %}
                    <label>Is this a private channel?</label>
                    <br>
                    {% endif %}

                    <br>
                    {% if form.private.value == True %}
                    This is a private channel. Host adds users manually. <i class="far fa-check-square"></i>
                    <br>
                    {% if not 'add-members' in request.path %}
                    This is a public channel. Each user can register himself.
                    <button class="btn private-button" name="private" value="False"><i
                            class="far fa-square"></i></button>
                    {% endif %}
                    {% elif form.private.value == False %}
                    Set channel to private. Host adds users manually.
                    <br>
                    <button style="color: cyan;" class="btn btn-outline-success button" name="private" value="True">Create private Channel</button>
                    <br>
                    This is a public channel. Each user can register himself. <i class="far fa-check-square"></i>
                    {% else %}
                    Set channel to private. Host adds users manually.
                    <button class="btn private-button" name="private" value="True">Create a private channel</button>
                    
                    Set channel to public. Each user can register himself.
                    <button class="btn private-button" name="private" value="False">Create an open channel</button>
                    {% endif %}

                    
                    <div>
                        {% if form.private.value == True %}

                        {% if not 'add-members' in request.path %}
                        <a href="{% url 'add-members' queryset.id %}">Add Members</a>
                        {% endif %}
                        {% endif %}

                        {% if 'add-members' in request.path %}
                        <label for="members">Choose Members:</label>
                        <br>
                        <div aria-required="true" id="members" name="guests">{{form.guests}}</div>
                        {% endif %}

                    </div>
                    

                </div>

                <!-- Submit Part (depends on current url) -->
                <a class="btn btn-outline-success button" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                {% if 'add-members' in request.path %}
                <button type="submit" class="btn btn-outline-success button" name="private" value="True">Add
                    Members</button>
                {% elif 'update-channel' in request.path %}
                {% if form.private.value == True %}
                <button type="submit" class="btn private-button" name="private" value="True">Update Channel</button>
                {% else %}
                <button type="submit" class="btn private-button" name="private" value="False">Update Channel</button>
                {% endif %}
                {% else %}
                <button type="submit" style="color: cyan;" class="btn btn-outline-success button" name="private"
                    value="False">Create Channel</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>



{% endblock %}