{% extends 'base-nav.html' %}

{% block content %}
    <div class="row text-white bg-dark main-content">
        <div class="col-md-3"></div>
        <div class="col-md-6 delete-form channel-content">   
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <a class="field-headline btn btn-outline-success button" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-arrow-alt-circle-left"></i></a>
                <br>
                <div class="field-contend">
                    <p>Are you sure you want to delete:</p>
                    <br>
                    {{object}}
                    {% if object.image %}
                    <br>
                    <img class="post-image" src="{{ object.image.url }}" alt="post-image">
                    {% endif %}?
                    <br>
                    <hr>
                    <input class="bg-danger text-dark input btn btn-outline-success button" type="submit" value="CONFIRM">
                </div>
                
                <!-- this leads back to the page the user was before -->
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>


{% endblock %}