{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">

      <div class="col">
        <h2 class="index-headline">Brows Topics</h2>
        {% include 'base/topics-index.html' %}
      </div>

      <div class="col-5 index-center">
         <h2 class="index-headline">My Channels</h2>
         {% include 'base/account-index.html' %}
      </div>

      <div class="col">
        <h2 class="index-headline">Brows Channels</h2>
        {% include 'base/browse-channel.html' %}
      </div>

    </div>
</div>


{% endblock %}