<div class="row justify-content-around">
    <div class="col-4 main-content user-scroll">
        <div>
            <!-- All Users ordered by last login and filterable  -->
            {% for user in users reversed %}
                <div>
                    <div class="row channel-content">
                        <div >
                            <small><a href="{% url 'account' user.id %}">@{{ user.username }}</a></small>
                            {% for comment in user.post_set.all|slice:"1" %}
                                {% if comment.channel and comment.channel.private == False %}
                                {{ comment.created_on|timesince }}
                                <br>
                                <div class="channel-content">
                                {{ comment.body }}
                                </div>
                                in Channel: <a href="{% url 'channel' comment.channel.id %}">{{ comment.channel.title }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <br>
                    </div>
                    <hr>
                </div>
            {% endfor %}     
        </div>
    </div>
</div>