{% extends 'base.html' %}

{% block content %}
    <div class="row text-white bg-dark main-content">
        
        <div class="col-md-6 offset-md-3 channel-content">
            <form action="" method="POST" enctype="multipart/form-data">
                <!-- with enctype="multipart/form-data" we can submit files not just content/text -->
                    {% csrf_token %}
                    {% for field in user_form %}
                    <div>
                        <label for="user-field">{{ field.label }}</label>
                        <br>
                        {{ field }}
                        <br>
                        <br>
                    </div> 
                    {% endfor %} 
                    <input type="submit" value="Update">
                    <a href="{% url 'create-channel' %}">Create new Channel</a>           
            </form>
        </div>
        
    </div>
{% endblock %}