@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik&display=swap');


.no-gutters{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.header{
    text-align: center;
    display: block ruby;
    width: 100%;
}

.header ul{
    display: block;
}

.header form{
    display: flex;
}

.header input{
    width: 75%;
}

.header2{
    width: 100%;
}

/* Main Content */
.container{
    text-align: center;
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.test{
    background-color: aquamarine;
}