@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik&display=swap');


.no-gutters{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.brand{
    border: 2px solid rgb(57, 57, 57);
    border-radius: 5px;
}

.bg-light {
    background-color: #3a3a3a !important;
  }

.user-image{
    width: 25px;
    height: 25px;
    border: 2px solid darkcyan;
    border-radius: 50px;
}

.user-logedout{
    width: 25px;
    height: 25px;
    border: 2px solid red;
    border-radius: 50px;
}

.header{
    text-align: center;
    display: block ruby;
    width: 100%;
}

.header ul{
    display: block;
}

.header form{
    display: flex;
}

.header input{
    width: 75%;
}

.header2{
    width: 100%;
}

.index-headline{
    margin: 20px auto;
}

.button{
    background-color: unset;
    color: darkcyan;
    border-color: darkcyan;
}

.btn-outline-success {
    color: darkcyan;
    border-color: darkcyan;
  }

/* Main Content */
.container{
    text-align: center;
}

.index-center{
    margin: 0 50px;
}

.channel-assignment{
    color: #3a3a3a;
    display: flex;
}

.main-content{
    width: 100%;
    background-color: darkcyan;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.main-content a{
    text-decoration: none;
    color: cyan;
}

.main-content-headline{
    background-color: rgb(57, 57, 57);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: -10px -10px 10px;
    padding: 10px;
    border: 1px solid darkcyan;
}

.channel-headline{
    background-color: rgb(57, 57, 57);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: -10px -5px 10px;
    padding: 10px;
    border: 1px solid darkcyan; 
}

.main-channel-content{
    background-color: darkcyan;
    border-radius: 10px;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
}

.channel-content{
    background-color: rgb(57, 57, 57);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid darkcyan;
    margin: 10px auto;
    width: unset;
}

.post-image{
    width: 150px;
    height: 100px;
    border: 1px solid darkcyan;
    border-radius: 2px;
}

.comment-field{
    width: 90%;
    background-color: dimgray;
    border: 1px solid darkcyan;
    border-radius: 10px;
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}